stages:
  - build

rust-latest:
  stage: build
  image: rust:latest
  script:
    - ./scripts/build.sh

rust-nightly:
  stage: build
  image: rustlang/rust:nightly
  script:
    - ./scripts/build.sh
  allow_failure: true